<div mat-dialog-title>
  <mat-icon mat-dialog-close class="close-btn flex-grow">close</mat-icon>
  <h2>Chọn món</h2>
  <div class="flex-grow"></div>
</div>
<div mat-dialog-content>
  <div class="dialog-item">
    <div class="image">
      <div class="img" style="background-image: url('{{ data.image }}');"></div>
    </div>
    <div class="dialog-item--content">
      <div class="name">{{ data.name }}</div>
      <div class="price" *ngIf="data.newPrice > 0">
        <span>
          {{ data.newPrice | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
        </span>
        <span style="text-decoration: line-through; color: #9c9c9c">
          {{ data.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
        </span>
      </div>
      <div class="price" *ngIf="data.newPrice === 0">
        {{ data.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
      </div>
      <div class="quantity">
        <button>
          <mat-icon (click)="decrease()">indeterminate_check_box</mat-icon>
        </button>
        <input
          type="number"
          min="1"
          #input
          (keyup)="inputChange(input.value)"
          [value]="quantity"
          autofocus
        />
        <button>
          <mat-icon (click)="increase()">add_box</mat-icon>
        </button>
      </div>
      <div class="description" *ngIf="data.description">
        {{ data.description }}
      </div>
      <div
        class="description"
        *ngIf="data.description == '' || !data.description"
      >
        Chưa có thông tin
      </div>
    </div>
  </div>
  <mat-form-field appearance="standard" style="width: 100%">
    <mat-label>Ghi chú</mat-label>
    <textarea
      matInput
      rows="3"
      placeholder="Ví dụ: thêm đá, thêm đường..."
      #note
    ></textarea>
  </mat-form-field>
  <form [formGroup]="otherForm" class="other">
    <div
      class="item"
      *ngIf="data.attributes.size.length || data.attributes.ice.length"
    >
      <div *ngIf="data.attributes.size.length">
        <strong>Kích cỡ</strong>
        <mat-radio-group formControlName="size">
          <mat-radio-button
            color="primary"
            *ngFor="let size of data.attributes.size"
            [value]="size._id"
            (click)="selectSize(size)"
          >
            {{ size.name }}
            <span
              style="color: #9c9c9c; font-size: 12px"
              *ngIf="size.price > 0"
            >
              ({{ size.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }})
            </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="data.attributes.ice.length">
        <strong>Đá</strong>
        <mat-radio-group formControlName="ice">
          <mat-radio-button
            color="primary"
            *ngFor="let ice of data.attributes.ice"
            [value]="ice._id"
          >
            {{ ice.name }}
            <span style="color: #9c9c9c; font-size: 12px" *ngIf="ice.price > 0">
              ({{ ice.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }})
            </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div
      class="item"
      *ngIf="data.attributes.topping.length || data.attributes.sugar.length"
    >
      <div *ngIf="data.attributes.topping.length">
        <strong>Topping</strong>
        <div>
          <mat-checkbox
            color="primary"
            *ngFor="let topping of data.attributes.topping"
            [value]="topping._id"
            formControlName="topping"
          >
            {{ topping.name }}
            <span
              style="color: #9c9c9c; font-size: 12px"
              *ngIf="topping.price > 0"
            >
              ({{ topping.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }})
            </span>
          </mat-checkbox>
        </div>
      </div>
      <div *ngIf="data.attributes.sugar.length">
        <strong>Đường</strong>
        <mat-radio-group formControlName="sugar">
          <mat-radio-button
            color="primary"
            *ngFor="let sugar of data.attributes.sugar"
            [value]="sugar._id"
          >
            {{ sugar.name }}
            <span
              style="color: #9c9c9c; font-size: 12px"
              *ngIf="sugar.price > 0"
            >
              ({{ sugar.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }})
            </span>
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    [disabled]="quantity == 0"
    (click)="handleAddCart(note.value)"
  >
    Thêm +{{ priceTotal | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
  </button>
</div>
