<div mat-dialog-title>
  <mat-icon mat-dialog-close class="close-btn flex-grow">close</mat-icon>
  <h2>Chọn món</h2>
  <div class="flex-grow"></div>
</div>
<div mat-dialog-content>
  <div class="dialog-item">
    <div class="image">
      <div
        class="img"
        style="
      background-image: url('{{ data.image }}');
    "
      ></div>
    </div>
    <div class="dialog-item--content">
      <div class="name">{{ data.name }}</div>
      <div class="price">
        {{ data.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
      </div>
      <div class="quantity">
        <button>
          <mat-icon (click)="decrease()">indeterminate_check_box</mat-icon>
        </button>
        <input type="number" min="1" [value]="quantity" autofocus />
        <button>
          <mat-icon (click)="increase()">add_box</mat-icon>
        </button>
      </div>
      <div class="description" *ngIf="data.description">
        {{ data.description }}
      </div>
      <div
        class="description"
        *ngIf="data.description == '' || !data.description"
      >
        Chưa có thông tin
      </div>
    </div>
  </div>
  <mat-form-field appearance="standard" style="width: 100%">
    <mat-label>Ghi chú</mat-label>
    <textarea
      matInput
      rows="3"
      placeholder="Ví dụ: thêm đá, thêm đường..."
      #note
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    mat-dialog-close
    color="primary"
    (click)="handleAddCart(note.value)"
  >
    Thêm +{{ data.price * quantity | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
  </button>
</div>
