<app-customer-header></app-customer-header>
<div class="content">
  <div class="container">
    <div class="page-not-found">
      <div class="section-not-found">
        <img class="not-found-img" src="/assets/images/not-found-404.png" />
        <h2>Lỗi 404</h2>
        <p class="group-1">
          Xin lỗi, có vẻ như đường dẫn bạn tìm không chính xác!
        </p>
        <p class="group-1">
          <a routerLink="/" class="button-view-more">
            Đến trang chủ Flashfood
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<app-customer-footer></app-customer-footer>
