<!-- <img src="/assets/images/flashfood.png" alt="" /> -->
<div class="navbar">
  <section class="container">
    <a
      routerLink="/"
      class="navbar--logo"
      style="background-image: url('/assets/images/flashfood.png')"
    ></a>
    <div class="navbar--menu">
      <a
        class="navbar--menu__link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Trang chủ
      </a>
      <a
        class="navbar--menu__link"
        routerLink="/do-an"
        routerLinkActive="active"
      >
        Đồ ăn
      </a>
      <a
        class="navbar--menu__link"
        routerLink="/do-uong"
        routerLinkActive="active"
      >
        Đồ uống
      </a>
      <a
        class="navbar--menu__link"
        routerLink="/khuyen-mai"
        routerLinkActive="active"
      >
        Khuyến Mãi
      </a>
    </div>
    <div class="flex-grow"></div>
  </section>
</div>
