<!-- <img src="/assets/images/flashfood.png" alt="" /> -->
<div class="ff-navbar">
  <section class="ff-container">
    <a
      routerLink="/"
      class="ff-navbar--logo"
      style="background-image: url('/assets/images/flashfood.png')"
    ></a>
    <div class="ff-navbar--menu">
      <a
        class="ff-navbar--menu__link"
        routerLink="/do-an"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Đồ ăn
      </a>
      <a
        class="ff-navbar--menu__link"
        routerLink="/do-uong"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Đồ uống
      </a>
      <a
        class="ff-navbar--menu__link"
        routerLink="/dang-khuyen-mai"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Đang Khuyến Mãi
      </a>
    </div>
    <div class="flex-grow"></div>
    <a class="ff-navbar--btn" routerLink="/thanh-vien"> Thành viên </a>
  </section>
</div>
