<div class="footer container">
  <div class="footer-top">
    <a
      routerLink="/"
      class="footer-top--logo"
      style="background-image: url('/assets/images/flashfood.png')"
    ></a>
  </div>
  <div class="footer-menu">
    <ul>
      <li>
        <a routerLink="/">Title 1</a>
      </li>
      <li>
        <a routerLink="/">Title 2</a>
      </li>
      <li>
        <a routerLink="/">Title 3</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/">Title 1</a>
      </li>
      <li>
        <a routerLink="/">Title 2</a>
      </li>
      <li>
        <a routerLink="/">Title 3</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/">Title 1</a>
      </li>
      <li>
        <a routerLink="/">Title 2</a>
      </li>
      <li>
        <a routerLink="/">Title 3</a>
      </li>
    </ul>
    <ul>
      <li>
        <a routerLink="/">Title 1</a>
      </li>
      <li>
        <a routerLink="/">Title 2</a>
      </li>
      <li>
        <a routerLink="/">Title 3</a>
      </li>
    </ul>
  </div>
  <div class="footer-bottom">
    <span>&copy; 2022 <strong>Flashfood</strong></span>
  </div>
</div>
