<app-newsfeed title="Chọn theo thể loại" *ngIf="categories.length > 0">
  <div class="newsfeed--list-view">
    <a
      class="newsfeed--list-item"
      [title]="category.name"
      routerLink="/{{ category.type }}/{{ category.nameAscii }}"
      *ngFor="let category of categories"
    >
      <div
        class="newsfeed--list-item__image"
        style="background-image: url('{{ category.image }}')"
      ></div>
      <div class="newsfeed--list-item__content">
        <span>{{ category.name }}</span>
      </div>
    </a>
  </div>
</app-newsfeed>
