<app-breadcrumb></app-breadcrumb>

<div class="a-page-button">
  <a routerLink="/admin/products/new" mat-button> Thêm sản phẩm mới </a>
</div>

<div style="overflow: auto">
  <table mat-table [dataSource]="dataSource" style="width: 100%">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>Hình sản phẩm</th>
      <td
        mat-cell
        *matCellDef="let element"
        style="width: 130px; padding-top: 10px; padding-bottom: 8px"
      >
        <img
          src="{{ element.image }}"
          alt="{{ element.name }}"
          style="
            object-fit: cover;
            width: 80px;
            height: 80px;
            border-radius: 8px;
            border: 1px solid #e0e0e0;
          "
        />
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Tên sản phẩm</th>
      <td mat-cell *matCellDef="let element">
        <strong>{{ element.name }}</strong>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Loại</th>
      <td mat-cell *matCellDef="let element">
        <strong *ngIf="element.type === 'do-an'"> Đồ ăn </strong>
        <strong *ngIf="element.type === 'do-uong'"> Đồ uống </strong>
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Giá tiền</th>
      <td mat-cell *matCellDef="let element">
        <div>
          <strong>Giá gốc:</strong>
          {{ element.price | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
        </div>
        <div>
          <strong>Giá khuyến mãi:</strong>
          {{ element.newPrice | currency: "đ":"symbol":"1.0-0":"vi-VN" }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Danh mục</th>
      <td mat-cell *matCellDef="let element">
        <strong>{{ element.category.name }}</strong>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="width: 180px">
        <a
          mat-stroked-button
          routerLink="/admin/products/update/{{ element._id }}"
          style="margin-right: 10px"
        >
          Sửa
        </a>
        <button mat-stroked-button>Xóa</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div
  class="text-right"
  style="padding: 15px"
  *ngIf="totalPage && totalPage > 1"
>
  <button
    mat-raised-button
    [disabled]="!previousPage"
    (click)="handlePreviousPage()"
    color="primary"
    style="margin-right: 10px"
  >
    <mat-icon>arrow_left</mat-icon>
  </button>
  <button
    mat-raised-button
    [disabled]="!nextPage"
    (click)="handleNextPage()"
    color="primary"
  >
    <mat-icon>arrow_right</mat-icon>
  </button>
</div>
