/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  transition: color 150ms linear;
}

.flex-grow {
  flex-grow: 1;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.container {
  position: relative;
  max-width: 1180px;
  min-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
  width: 1180px;

  @media (max-width: 768px) {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }
}

.button-view-more {
  appearance: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 9px 40px 8px;
  align-items: center;
  justify-content: center;
  user-select: none;
  background-color: #ebebeb;
  color: #333333;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #dddddd;
  transition: background-color 150ms linear, color 150ms linear;

  &:hover {
    background-color: #e0e0e0;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cdk-overlay-pane {
    width: 90vw !important;
    min-width: 90vw !important;
  }

  app-product-dialog.ng-star-inserted {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .mat-dialog-title {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px;
  }

  mat-dialog-container.mat-dialog-container {
    border-radius: 0 !important;
  }

  .mat-dialog-content {
    height: 100%;
    flex: 1;
    max-height: 100% !important;
  }
}

.a-page-button {
  display: inline-block;
  color: #666666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: 100%;

  & a {
    border-radius: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.12);

    @media (max-width: 768px) {
      width: 50%;
      overflow: hidden;
      text-overflow: ellipsis !important;
      white-space: nowrap;
      margin-bottom: -5px;

      &:nth-child(2n) {
        border-right: 0 !important;
      }
    }

    & + a {
      border-left: 0 !important;
    }
  }
}

.text-right {
  text-align: right;
  padding: 0 15px;
}

.a-content {
  padding: 15px;
}

.form-full {
  width: 100%;
  & mat-form-field {
    width: 100%;
  }
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-2 {
  position: relative;
  width: 30px;
  height: 30px;
  background: #3c26ff;
  border-radius: 50px;
  animation: loading-2 1.5s infinite linear;
}
#loading-2:after {
  position: absolute;
  width: 60px;
  height: 60px;
  border-top: 10px solid #412fdc;
  border-bottom: 10px solid #412fdc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-radius: 50px;
  content: "";
  top: -15px;
  left: -15px;
  animation: loading-2-after 1.5s infinite linear;
}
@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    background: #3c26ff;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-2-after {
  0% {
    border-top: 10px solid #3121c0;
    border-bottom: 10px solid #3121c0;
  }
  50% {
    border-top: 10px solid #412fdc;
    border-bottom: 10px solid #412fdc;
  }
  100% {
    border-top: 10px solid #3121c0;
    border-bottom: 10px solid #3121c0;
  }
}

button {
  border-radius: 0 !important;
}

.mat-raised-button.mat-primary {
  background-color: #2e1ec2 !important;
}

.mat-raised-button.mat-primary:disabled {
  color: #fff;
  opacity: 0.5;
}
