.sidenav {
  width: 300px;
  background-color: #2e1ec2;
  height: 100%;

  @media (max-width: 576px) {
    width: 100vw;
  }
}

.mat-nav-list {
  padding-top: 0;
}

.mat-list-item {
  height: 50px !important;
  color: #ffffff;
}

.mat-list-item.active {
  background-color: rgb(28, 12, 168);
}
