.sidenav {
  width: 300px;

  @media (max-width: 576px) {
    width: 100vw;
  }
}

.mat-nav-list {
  padding-top: 0;
}

.mat-list-item {
  height: 50px !important;
}

.mat-list-item.active {
  background-color: #f0f0f0;
}
